html {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: auto;
  background: #f5f5f5;
}

.orderDetail {
  height: auto;
  background: #f5f5f5;
}

.orderDetail .product {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.25rem 1.5625rem 1.75rem 1.5625rem;
  top: 1.25rem;
  width: 100%;
  height: 12.6875rem;
  background: white;
  border-radius: 0.125rem;
}

.orderDetail .product .mainImg {
  width: 9.6875rem;
  height: 9.6875rem;
}

.orderDetail .product .content {
  margin-left: 1.625rem;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 0.75rem;
}

.orderDetail .product .content .name {
  height: 1.8125rem;
  font-size: 1.875rem;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  color: #333333;
  line-height: 1.8125rem;
}

.orderDetail .product .content .priceBox {
  height: 1.4375rem;
  font-size: 1.4375rem;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  color: #fc5800;
}

.orderDetail .product .content .priceBox .priceIcon {
  font-size: 1.25rem;
}

.orderDetail .product .content .num {
  height: 1.125rem;
  font-size: 1.125rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #333333;
  line-height: 1.125rem;
}

.orderDetail .editBox {
  position: relative;
  top: 2.5rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2.0625rem 2.8125rem 0 1.5rem;
  height: 33.0625rem;
  background: white;
  border-radius: 0.125rem;
}

.orderDetail .editBox .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 1.375rem;
  height: 5.5rem;
  line-height: 5.5rem;
}

.orderDetail .editBox .row .leftTitle {
  width: 9.0625rem;
  font-size: 1.6875rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #333333;
}

.orderDetail .editBox .row .rightVal {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1.5rem;
  width: 33.5rem;
  height: 5.5rem;
  border: 1px solid #dbdbdb;
  border-radius: 0.625rem;
}

.orderDetail .invoice {
  position: relative;
  top: 3.75rem;
  height: auto;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.5625rem;
}

.orderDetail .invoice .isOpen {
  height: 5.5rem;
  font-size: 1.6875rem;
}

.orderDetail .invoice #invoicebox .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5.5rem;
  margin-bottom: 1.375rem;
}

.orderDetail .invoice #invoicebox input:not([type="radio"]) {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1.5rem;
  width: 33.5rem;
  height: 5.5rem;
  border: 1px solid #dbdbdb;
  border-radius: 0.625rem;
}

.orderDetail .invoice .selectBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 9rem;
  font-size: 1.6875rem;
}

.orderDetail .invoice .selectBox label {
  height: 5.5rem;
  width: 5rem;
}

.orderDetail .invoice .selectBox label span {
  white-space: nowrap;
}

.orderDetail .invoice .selectBox label:nth-child(1) {
  margin-right: 2rem;
}

.orderDetail .invoice .selectBox label input {
  padding-left: 1.875rem;
  font-size: 1.6875rem;
}

.orderDetail .invoice .typeSelect {
  width: 14rem;
}

.orderDetail .invoice .typeSelect label {
  width: 7rem;
}

.orderDetail .optional {
  position: relative;
  top: 5rem;
  margin-bottom: 10rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2.5rem 1.75rem 2.5rem 1.5625rem;
  width: 100%;
  height: 11.3125rem;
  background: white;
  border-radius: 0.125rem;
}

.orderDetail .optional .scoreContorl {
  height: 1.875rem;
}

.orderDetail .optional .scoreContorl .text {
  font-size: 1.125rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  line-height: 1.875rem;
  color: #fc5800;
}

.orderDetail .optional .scoreContorl .checkState.noCheck {
  width: 1.875rem;
  height: 1.875rem;
  margin-left: 1.375rem;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #fc5800;
}

.orderDetail .optional .scoreContorl img {
  width: 1.875rem;
  height: 1.875rem;
  margin-left: 1.375rem;
}

.orderDetail .optional .selectCoupon {
  height: 1.4375rem;
  font-size: 1.4375rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #666666;
  line-height: 1.4375rem;
}

.orderDetail .fixedPrice {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 6.125rem;
  background: white;
  -webkit-box-shadow: 1px -1px 0px 0px rgba(229, 229, 229, 0.72);
          box-shadow: 1px -1px 0px 0px rgba(229, 229, 229, 0.72);
}

.orderDetail .fixedPrice .leftBox {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 1.25rem;
  height: 1.875rem;
  font-size: 1.75rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #333333;
  line-height: 1.875rem;
}

.orderDetail .fixedPrice .leftBox .price {
  margin-left: 0.875rem;
  color: #fc5800;
  font-weight: Bold;
}

.orderDetail .fixedPrice .leftBox .price .priceIcon {
  font-size: 1.5rem;
}

.orderDetail .fixedPrice .jianPriceBox {
  margin-left: 1.25rem;
}

.orderDetail .fixedPrice .rightBtn {
  width: 14.6875rem;
  height: 6.125rem;
  background: #64bdf9;
  font-size: 1.8125rem;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: white;
  text-align: center;
  line-height: 6.125rem;
}

.orderDetail .coupon {
  position: fixed;
  bottom: 0;
  z-index: 1000001;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2.3125rem 1.5625rem 0 1.5625rem;
  width: 100%;
  height: 42.6875rem;
  background: whitesmoke;
}

.orderDetail .coupon .title {
  position: relative;
  width: 100%;
  height: 2rem;
  font-size: 2rem;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #333333;
  text-align: center;
  line-height: 2rem;
}

.orderDetail .coupon .title .close {
  position: absolute;
  right: 0;
  vertical-align: top;
  width: 2rem;
  height: 2rem;
}

.orderDetail .coupon .selectText {
  margin-top: 3.3125rem;
  margin-bottom: 2rem;
  height: 1.75rem;
  font-size: 1.75rem;
  font-family: MicrosoftYaHei;
  font-weight: 400;
  color: #999999;
  line-height: 1.75rem;
}

.orderDetail .coupon .scrollBox {
  height: 26.375rem;
  overflow: hidden;
  overflow-y: auto;
}

.orderDetail .coupon .item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 4.3125rem 3.125rem 3.8125rem 2.5625rem;
  width: 43.75rem;
  height: 12.5625rem;
  margin-bottom: 1.25rem;
  background: 100% 100% no-repeat url("../../assets/icon/couponBg.png");
  background-size: cover;
}

.orderDetail .coupon .item .priceBox .priceIcon {
  height: 2rem;
  font-size: 2rem;
  line-height: 2rem;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  color: #fc5800;
}

.orderDetail .coupon .item .priceBox .num {
  height: 3.875rem;
  line-height: 3.875rem;
  font-size: 3.875rem;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  color: #fc5800;
}

.orderDetail .coupon .item .introduce {
  height: 100%;
}

.orderDetail .coupon .item .introduce .up {
  height: 1.75rem;
  font-size: 1.75rem;
  font-family: SourceHanSansCN-Bold;
  color: #333333;
  line-height: 1.75rem;
}

.orderDetail .coupon .item .introduce .up .money {
  font-weight: bold;
}

.orderDetail .coupon .item .introduce .down {
  height: 1.4375rem;
  font-size: 1.4375rem;
  line-height: 1.4375rem;
  font-family: SourceHanSansCN-Regular;
  font-weight: 400;
  color: #666666;
}

.orderDetail .coupon .item .checkBox {
  width: 2.3125rem;
  height: 2.3125rem;
}
/*# sourceMappingURL=orderDetail.css.map */