.orderDetail {
  height: 100%;
  background: #f5f5f5;
  .product {
    position: relative;
    box-sizing: border-box;
    padding: 1.25rem 1.5625rem 1.75rem 1.5625rem;
    top: 1.25rem;
    width: 100%;
    height: 12.6875rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.125rem;
    .mainImg {
      width: 9.6875rem;
      height: 9.6875rem;
    }
    .content {
      margin-left: 1.625rem;
      height: 100%;
      box-sizing: border-box;
      padding-top: 0.75rem;
      .name {
        height: 1.8125rem;
        font-size: 1.875rem;
        font-family: PingFang-SC-Bold;
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        line-height: 1.8125rem;
      }
      .priceBox {
        height: 1.4375rem;
        font-size: 1.4375rem;
        font-family: PingFang-SC-Bold;
        font-weight: bold;
        color: rgba(252, 88, 0, 1);
        .priceIcon {
          font-size: 1.25rem;
        }
      }
      .num {
        height: 1.125rem;
        font-size: 1.125rem;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 1.125rem;
      }
    }
  }
  .editBox {
    position: relative;
    top: 2.5rem;
    width: 100%;
    box-sizing: border-box;
    padding: 2.0625rem 2.8125rem 0 1.5rem;
    height: 33.0625rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.125rem;
    .row {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 1.375rem;
      height: 5.5rem;
      line-height: 5.5rem;
      .leftTitle {
        width: 9.0625rem;
        font-size: 1.6875rem;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
      }
      .rightVal {
        box-sizing: border-box;
        padding-left: 1.5rem;
        width: 33.5rem;
        height: 5.5rem;
        border: 1px solid rgba(219, 219, 219, 1);
        border-radius: 0.625rem;
      }
    }
  }
  .optional {
    box-sizing: border-box;
    padding: 2.5rem 1.75rem 2.5rem 1.5625rem;
    position: relative;
    top: 3.75rem;
    width: 100%;
    height: 11.3125rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.125rem;
    .scoreContorl {
      height: 1.875rem;
      .text {
        font-size: 1.125rem;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        line-height: 1.875rem;
        color: rgba(252, 88, 0, 1);
      }
      .checkState {
        &.noCheck {
          width: 1.875rem;
          height: 1.875rem;
          margin-left: 1.375rem;
          border-radius: 50%;
          box-sizing: border-box;
          border: 1px solid #fc5800;
        }
      }
      img {
        width: 1.875rem;
        height: 1.875rem;
        margin-left: 1.375rem;
      }
    }
    .selectCoupon {
      height: 1.4375rem;
      font-size: 1.4375rem;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(102, 102, 102, 1);
      line-height: 1.4375rem;
    }
  }
  .fixedPrice {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6.125rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px -1px 0px 0px rgba(229, 229, 229, 0.72);
    .leftBox {
      box-sizing: border-box;
      padding-left: 1.25rem;
      height: 1.875rem;
      font-size: 1.75rem;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 1.875rem;
      .price {
        margin-left: 0.875rem;
        color: #fc5800;
        font-weight: Bold;
        .priceIcon {
          font-size: 1.5rem;
        }
      }
    }
    .rightBtn {
      width: 14.6875rem;
      height: 6.125rem;
      background: rgba(100, 189, 249, 1);
      font-size: 1.8125rem;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
      text-align: center;
      line-height: 6.125rem;
    }
  }
  .coupon {
    position: fixed;
    bottom: 0;
    z-index: 1000001;
    box-sizing: border-box;
    padding: 2.3125rem 1.5625rem 0 1.5625rem;
    width: 100%;
    height: 42.6875rem;
    background: rgba(245, 245, 245, 1);
    .title {
      position: relative;
      width: 100%;
      height: 2rem;
      font-size: 2rem;
      font-family: MicrosoftYaHei;
      font-weight: 400;
      color: rgba(51, 51, 51, 1);
      text-align: center;
      line-height: 2rem;
      .close {
        position: absolute;
        right: 0;
        vertical-align: top;
        width: 2rem;
        height: 2rem;
      }
    }
    .selectText {
      margin-top: 3.3125rem;
      margin-bottom: 2rem;
      height: 1.75rem;
      font-size: 1.75rem;
      font-family: MicrosoftYaHei;
      font-weight: 400;
      color: rgba(153, 153, 153, 1);
      line-height: 1.75rem;
    }
    .scrollBox {
      height: 26.375rem;
      overflow: hidden;
      overflow-y: auto;
    }

    .item {
      box-sizing: border-box;
      padding: 4.3125rem 3.125rem 3.8125rem 2.5625rem;
      width: 43.75rem;
      height: 12.5625rem;
      margin-bottom: 1.25rem;
      background: 100% 100% no-repeat url("../../assets/icon/couponBg.png");
      background-size: cover;
      .priceBox {
        .priceIcon {
          height: 2rem;
          font-size: 2rem;
          line-height: 2rem;
          font-family: PingFang-SC-Bold;
          font-weight: bold;
          color: rgba(252, 88, 0, 1);
        }
        .num {
          height: 3.875rem;
          line-height: 3.875rem;
          font-size: 3.875rem;
          font-family: SourceHanSansCN-Medium;
          font-weight: 500;
          color: rgba(252, 88, 0, 1);
        }
      }
      .introduce {
        height: 100%;
        .up {
          height: 1.75rem;
          font-size: 1.75rem;
          font-family: SourceHanSansCN-Bold;
          color: rgba(51, 51, 51, 1);
          line-height: 1.75rem;
          .money {
            font-weight: bold;
          }
        }
        .down {
          height: 1.4375rem;
          font-size: 1.4375rem;
          line-height: 1.4375rem;
          font-family: SourceHanSansCN-Regular;
          font-weight: 400;
          color: rgba(102, 102, 102, 1);
        }
      }
      .checkBox {
        width: 2.3125rem;
        height: 2.3125rem;
      }
    }
  }
}
