<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Template</title>
    <link
      rel="stylesheet"
      href="https://cdn.bootcss.com/normalize/8.0.1/normalize.css "
    />
    <link rel="stylesheet" href="../../styles/reset.css" />
    <link rel="stylesheet" href="../../app.css" />
    <!-- 本页面使用的主css -->
    <link rel="stylesheet" href="../../styles/flex.css" />
    <script src="../../utils/rem.js"></script>
    <script src="../../utils/index.js"></script>
  </head>
  <body>
    <h1>Template</h1>
  </body>
</html>
