.orderDetail_deeper {
  height: 100%;
  background: #f5f5f5;

  .product {
    position: relative;
    box-sizing: border-box;
    padding: 2rem 1.5625rem 1.75rem 1.5625rem;
    top: 1.25rem;
    width: 100%;
    height: 19.75rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.125rem;
    .box {
      margin-bottom: 2.75rem;
    }
    .mainImg {
      width: 9.6875rem;
      height: 8.9375rem;
    }
    .content {
      margin-left: 1.625rem;
      height: 8.9375rem;
      box-sizing: border-box;
      padding-top: 0.75rem;
      .name {
        height: 1.8125rem;
        font-size: 1.875rem;
        font-family: PingFang-SC-Bold;
        font-weight: bold;
        color: rgba(51, 51, 51, 1);
        line-height: 1.8125rem;
      }
      .priceBox {
        height: 1.4375rem;
        font-size: 1.4375rem;
        font-family: PingFang-SC-Bold;
        font-weight: bold;
        color: rgba(252, 88, 0, 1);
        .priceIcon {
          font-size: 1.25rem;
        }
      }
      .num {
        height: 1.125rem;
        font-size: 1.125rem;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
        line-height: 1.125rem;
      }
    }
    .row {
      height: 1.5625rem;
      line-height: 1.5625rem;
      &:nth-child(3) {
        margin-top: 1.25rem;
      }
      .name {
        height: 1.5625rem;
        font-size: 1.5625rem;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(51, 51, 51, 1);
      }
      .price {
        height: 1.125rem;
        font-size: 1.125rem;
        font-family: PingFang-SC-Medium;
        font-weight: 500;
        color: rgba(252, 88, 0, 1);
      }
    }
  }
  .optional {
    box-sizing: border-box;
    padding: 1.9375rem 1.75rem 2.5rem 1.5625rem;
    position: relative;
    top: 3.75rem;
    width: 100%;
    height: 21.8125rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.125rem;
    .Maintitle {
      position: relative;
      padding-left: 1.3125rem;
      height: 1.625rem;
      line-height: 1.625rem;
      font-size: 1.625rem;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      margin-bottom: 2.9375rem;
      &::before {
        position: absolute;
        left: 0;
        top: 0.125rem;
        display: inline-block;
        content: "";
        width: 0.1875rem;
        height: 1.625rem;
        background: rgba(100, 189, 249, 1);
      }
    }
    .row {
      margin-bottom: 1.25rem;
      .title {
        width: 10rem;
      }
      .val {
        color: #666;
      }
    }
  }
  .fixedPrice {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6.125rem;
    background: rgba(255, 255, 255, 1);
    box-shadow: 1px -1px 0px 0px rgba(229, 229, 229, 0.72);
    .leftBox {
      box-sizing: border-box;
      padding-left: 1.25rem;
      height: 1.875rem;
      font-size: 1.75rem;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(51, 51, 51, 1);
      line-height: 1.875rem;
      .price {
        margin-left: 0.875rem;
        color: #fc5800;
        font-weight: Bold;
        .priceIcon {
          font-size: 1.5rem;
        }
      }
    }
    .rightBtn {
      width: 14.6875rem;
      height: 6.125rem;
      background: rgba(100, 189, 249, 1);
      font-size: 1.8125rem;
      font-family: PingFang-SC-Medium;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
      text-align: center;
      line-height: 6.125rem;
    }
  }
}
